<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
      <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
      <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
      <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
      <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
    </taglib>
  </jsp-config>
  <display-name>web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>bbs.user.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registServlet</servlet-name>
    <servlet-class>bbs.user.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registServlet</servlet-name>
    <url-pattern>/regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUser</servlet-name>
    <servlet-class>bbs.user.servlet.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/editUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>publishTopic</servlet-name>
    <servlet-class>bbs.topic.servlet.PublishTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>publishTopic</servlet-name>
    <url-pattern>/publishTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userIndex</servlet-name>
    <servlet-class>bbs.user.servlet.UserIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userIndex</servlet-name>
    <url-pattern>/userIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteTopic</servlet-name>
    <servlet-class>bbs.topic.servlet.DeleteTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteTopic</servlet-name>
    <url-pattern>/deleteTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchTopicServlet</servlet-name>
    <servlet-class>bbs.topic.servlet.SearchTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTopicServlet</servlet-name>
    <url-pattern>/searchTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TopicServlet</servlet-name>
    <servlet-class>bbs.topic.servlet.TopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicServlet</servlet-name>
    <url-pattern>/topic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>bbs.user.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTopicServlet</servlet-name>
    <servlet-class>bbs.topic.servlet.GetTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTopicServlet</servlet-name>
    <url-pattern>/getTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>bbs.topic.servlet.ReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/reply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OtherIndexServlet</servlet-name>
    <servlet-class>bbs.user.servlet.OtherIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherIndexServlet</servlet-name>
    <url-pattern>/otherIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFansServlet</servlet-name>
    <servlet-class>bbs.user.servlet.AddFansServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFansServlet</servlet-name>
    <url-pattern>/addFans</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFansServlet</servlet-name>
    <servlet-class>bbs.user.servlet.DeleteFansServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFansServlet</servlet-name>
    <url-pattern>/deleteFans</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddReplysServlet</servlet-name>
    <servlet-class>bbs.topic.servlet.AddReplysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReplysServlet</servlet-name>
    <url-pattern>/addReplys</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotTopicServlet</servlet-name>
    <servlet-class>bbs.topic.servlet.HotTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotTopicServlet</servlet-name>
    <url-pattern>/hotTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetImgServlet</servlet-name>
    <servlet-class>bbs.user.servlet.GetImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImgServlet</servlet-name>
    <url-pattern>/getImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdataPasswordServlet</servlet-name>
    <servlet-class>bbs.user.servlet.UpdataPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdataPasswordServlet</servlet-name>
    <url-pattern>/updataPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UidIsUsedServlet</servlet-name>
    <servlet-class>bbs.user.servlet.UidIsUsedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UidIsUsedServlet</servlet-name>
    <url-pattern>/uidIsUsed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>admin.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUserServlet</servlet-name>
    <servlet-class>admin.servlet.AdminUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserServlet</servlet-name>
    <url-pattern>/adminUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddUserServlet</servlet-name>
    <servlet-class>admin.servlet.AdminAddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserServlet</servlet-name>
    <url-pattern>/adminAddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditUserServlet</servlet-name>
    <servlet-class>admin.servlet.AdminEditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditUserServlet</servlet-name>
    <url-pattern>/adminEditUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDeleteUserServlet</servlet-name>
    <servlet-class>admin.servlet.AdminDeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteUserServlet</servlet-name>
    <url-pattern>/adminDeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminTopicServlet</servlet-name>
    <servlet-class>admin.servlet.AdminTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTopicServlet</servlet-name>
    <url-pattern>/adminTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TopTopicServlet</servlet-name>
    <servlet-class>admin.servlet.TopTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopTopicServlet</servlet-name>
    <url-pattern>/topTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDeleteTopicServlet</servlet-name>
    <servlet-class>admin.servlet.AdminDeleteTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteTopicServlet</servlet-name>
    <url-pattern>/adminDeleteTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminReplyServlet</servlet-name>
    <servlet-class>admin.servlet.AdminReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminReplyServlet</servlet-name>
    <url-pattern>/adminReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDeleteReplyServlet</servlet-name>
    <servlet-class>admin.servlet.AdminDeleteReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteReplyServlet</servlet-name>
    <url-pattern>/adminDeleteReply</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminTypeServlet</servlet-name>
    <servlet-class>admin.servlet.AdminTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTypeServlet</servlet-name>
    <url-pattern>/adminType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminImgServlet</servlet-name>
    <servlet-class>admin.servlet.AdminImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminImgServlet</servlet-name>
    <url-pattern>/adminImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddTypeServlet</servlet-name>
    <servlet-class>admin.servlet.AdminAddTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddTypeServlet</servlet-name>
    <url-pattern>/adminAddType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddImgServlet</servlet-name>
    <servlet-class>admin.servlet.AdminAddImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddImgServlet</servlet-name>
    <url-pattern>/adminAddImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditImgServlet</servlet-name>
    <servlet-class>admin.servlet.AdminEditImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditImgServlet</servlet-name>
    <url-pattern>/adminEditImg</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>setCharacterEncoding</filter-name>
    <filter-class>bbs.filter.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>setCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>